# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Database files
data/*
!data/.gitkeep

# model files
core/models/*
!core/models/.gitkeep

# Virtual environments
venv/
env/
ENV/
.venv/ # uv's virtual environment

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
